<div class="uk-margin uk-width-expand uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table class="uk-table">
    <caption>
      Castles
    </caption>
    <thead>
      <th>Name</th>
      <th>Author</th>
      <th>Enter Castle</th>
    </thead>
    <tbody class="uk-text-left">
      {{#each castles}}
      <tr>
        <td>{{name}}</td>
        <td> {{author.firstName}} {{author.lastName}} </td>
        <td><a href="/viewcastle/{{_id}}" class="uk-card uk-card-small uk-card-hover uk-padding-small"><i class="fas fa-dungeon fa-3x" style="color:rgb(92, 73, 79)" title="Enter {{name}}" pos="bottom" uk-tooltip></i></a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>