<div class="uk-margin uk-width-expand uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table class="uk-table">
    <caption>
      Categories
    </caption>
    <thead>
      <th>Category</th>
      <th>Description</th>
      <th>Delete</th>
      <th>Open</th>
    </thead>
    <tbody class="uk-text-left">
      {{#each categories}}
      <tr>       
        <td> {{name}} </td>    
        <td> {{description}} </td>   
        <td><a href="/deletecategory/{{_id}}" class="uk-card uk-card-small uk-card-hover uk-padding-small"><i class="far fa-trash-alt fa-2x" style="color:rgb(92, 73, 79)" title="Delete {{name}} Category" pos="bottom" uk-tooltip></i></a></td>
        <td><a href="/viewcategory/{{_id}}" class="uk-card uk-card-small uk-card-hover uk-padding-small"><i class="far fa-folder-open fa-2x" style="color:rgb(92, 73, 79)" title="View {{name}}s" pos="bottom" uk-tooltip></i></a></td>
      {{/each}}
    </tbody>
  </table>
</div>