<form action="/editcastle/{{castleid}}" method="POST">
<legend>Edit {{castlename}}</legend><br>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">Castle Name</label>
    <div class="uk-inline uk-width-1-1">
      <span class="uk-form-icon" uk-icon="icon: user"></span>
      <input class="uk-input uk-form-large" type="text" name="name" value="{{castlename}}">
    </div>
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">Castle Description</label>
    <div class="uk-inline uk-width-1-1">
      <span class="uk-form-icon" uk-icon="icon:"></span>
      <textarea class="uk-textarea" rows="6" placeholder="Description" name="description">{{description}}</textarea>
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-button uk-form-select uk-width-1-1" data-uk-form-select>
      <span>Choose a Category</span>
      <select name="category">
        {{#each categories}}
          <option value="{{_id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>    
  </div>
  {{> error }}
  <div class="uk-margin">
    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Save </button>
  </div>
</form>
