<div class="uk-margin-auto">
<table class="uk-table uk-table-striped ">
  <caption>
    Current Weather Report at {{castle.name}}:
  </caption>
  <thead>
    <th>Feels Like</th>
    <th>Clouds</th>
    <th>Wind Speed</th>
    <th>Wind Direction</th>
    <th>Visibility</th>
    <th>Humidity</th>
  </thead>
  <tbody class="uk-text-left">
    <tr>
      <td>{{weather.feelsLike}}</td>        
      <td>{{weather.clouds}}</td>
      <td>{{weather.windSpeed}}</td>
      <td>{{weather.windDirection}}</td>
      <td>{{weather.visibility}}</td>
      <td>{{weather.humidity}}</td>
    </tr>
  </tbody>
</table>
</div>