<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Caisleáin na hÉireann" subTitle="View Castle Entry"}}
  {{> main-menu }}
</div>

<div class="uk-margin uk-width-4-5 uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <div class="uk-width-expand@m">
    <h1 class="uk-heading-bullet">{{title}}
    </h1>
    <ul class="uk-iconnav uk-margin-left"></ul>
      <a  href="/showeditcastle/{{castleid}}">
        <i class="far fa-edit fa-3x" style="color:rgb(92, 73, 79)" title="Edit Castle" pos="bottom" uk-tooltip></i>
      </a>
      <a href="/deletecastle/{{castleid}}">
        <i class="far fa-trash-alt fa-3x" style="color:rgb(92, 73, 79)" title="Delete Castle" pos="bottom" uk-tooltip></i>
      </a>
    </ul>
    <p class="title">Author: {{author.firstName}} {{author.lastName}}</p>
    <p>{{description}}</p>
  </div>
  <div class="uk-width-expand@m"></div>
    <p>{{error}}</p>
    <div class="uk-container uk-padding-small">
      <div class="uk-child-width-1-4@s uk-flex uk-flex-center" uk-grid uk-height-match="target: .uk-card">
        {{#each images}}
        {{> card }}
        {{/each}}
      </div>
    </div>
    <div class="uk-child-width-expand@m uk-grid-small uk-grid-match" uk-grid>
      <div>
      {{> upload }}
      </div>
    </div>
  </div>  
</div>